main {
	margin: 0 $barra;
	font-size: rem(18);
	line-height: 1.3;

    .services-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
        }
        .service {
            height: 100dvh;
            padding: $def-padding;
            align-content: center;
            background-color: $darkgreen;
            background-size: cover;
            background-position: center;
            &:first-child, &:last-child {
                grid-column: 1 / -1;
            }
            &:nth-child(odd){
                background-color: rgba($darkgreen, 0.5);
            }
            .service-content {
                max-width: 35ch;
                text-wrap: balance;
                color: white;
                p {
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                    @media (max-width: $tablet) {
                        opacity: 1;
                    }
                }
            }
            &:hover {
                p {
                    opacity: 1;
                }
            }
        }
    }
    section.portfolio {
        height: 100dvh;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
        }
        & > * {
            padding: $def-padding;
        }
    }
    section.about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        background-color: $darkgreen;
        border-top: $barra solid $cor-barra;
        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
        }
        .about-image {
            height: 100%;
            img {
                height: inherit;
                width: 100%;
                object-fit: cover;
            }
        }
        .about-content {
            padding: $def-padding;
        }
    }
    section.socials {
        .socials-content {  
            padding: $def-padding;
            max-width: 50%;
            @media (max-width: $tablet) {
                max-width: 100%;
            }
        }
        .instagram-feed {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            border-block: 3px solid white;
            @media (max-width: $tablet) {
                grid-template-columns: repeat(3, 1fr);
            }
            .instagram-post {
                position: relative;
                aspect-ratio: 1 / 1;
                display: block;
                overflow: hidden;
                &::after {
                    position: absolute;
                    top: rem(4);
                    right: rem(8);
                    scale: 0.8;
                    filter: drop-shadow(0 0 2px rgba(black, 0.3));
                }
                &.video::after {
                    content: url("../assets/ig-reels.svg");
                }
                &.carousel_album::after {
                    content: url("../assets/ig-carousel.svg");
                }
                img {
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    border-right: 3px solid white;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                }
                &:last-child img {
                    border-right: none;
                }
            }
        }
    }
}